<?xml version="1.0"?>
<robot name="mir100" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- MiR100 base -->
  <xacro:include filename="$(find mir_description)/urdf/mir100_macro.xacro" />

  <xacro:arg name="tf_prefix" default="" />

  <!-- prefix can not start with a slash like a global namespace! results in TF errors -->
  <xacro:property name="ns" value="$(arg tf_prefix)" />
  <xacro:if value="${ns == ''}">
    <xacro:property name="prefix" value="" />
  </xacro:if>
  <xacro:unless value="${ns == ''}">
    <xacro:property name="prefix" value="${ns}/" />
  </xacro:unless>

  <xacro:mir100 prefix="${prefix}" ns="${ns}"/>

</robot>
