<?xml version="1.0"?>
<robot name="mir100" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find mir_description)/urdf/mir100_macro.xacro" />

  <xacro:arg name="mir_prefix" default="mir100" />
  <xacro:property name="mir_prefix" value="$(arg mir_prefix)/" />

  <link name="${mir_prefix}base_footprint" />

  <xacro:mir100
    prefix="${mir_prefix}"
    parent="${mir_prefix}base_footprint"
    >
    <origin xyz="0 0 0.0625" rpy="0 0 0" />
  </xacro:mir100>

</robot>
