<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <gazebo>

    <plugin
      filename="gz_ros2_control-system"
      name="gz_ros2_control::GazeboSimROS2ControlPlugin"
    >
      <!-- <xacro:unless value="${robot_namespace == ''}">
        <robot_namespace>${robot_namespace}</robot_namespace>
      </xacro:unless>
      <control_period>0.001</control_period> -->
      <robot_param>robot_description</robot_param>
      <robot_param_node>robot_state_publisher</robot_param_node>
      <parameters>$(find mir_control)/config/mir_controllers.yaml</parameters>
      <controller_manager_name>controller_manager</controller_manager_name>

      <ros>
        <!-- <namespace>mir100</namespace> -->
        <!-- <remapping>/mir100/robot_description:=/robot_description</remapping> -->
        <!-- <remapping>/robot_description:=/robot_description_full</remapping> -->
      </ros>
    </plugin>

  </gazebo>

</robot>
