<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- See https://github.com/ros-simulation/gazebo_ros_pkgs/wiki/ROS-2-Migration:-Diff-drive for ros2 information -->
  <xacro:macro name="diff_controller_plugin_gazebo" params="prefix ns left_wheel_joint right_wheel_joint wheel_separation wheel_radius">
    <gazebo>
      <!-- Use gazebo_ros_joint_state_publisher instead of publishWheelJointState -->
      <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
        <topic>joint_states</topic> <!--from <ros><remapping> -->
        <joint_name>${right_wheel_joint}</joint_name>
        <joint_name>${left_wheel_joint}</joint_name>
      </plugin>

      <plugin name="gz::sim::systems::DiffDrive" filename="gz-sim-diff-drive-system">
        <left_joint>${left_wheel_joint}</left_joint>
        <right_joint>${right_wheel_joint}</right_joint>
        <wheel_separation>${wheel_separation}</wheel_separation>
        <wheel_radius>${wheel_radius}</wheel_radius>
        <max_linear_acceleration>0.175</max_linear_acceleration>  <!-- computed from <max_linear_acceleration> in the original plugin * wheel_radius-->
        <topic>${prefix}cmd_vel</topic>
        <odom_topic>${prefix}odom</odom_topic>
        <frame_id>${prefix}odom</frame_id>
        <child_frame_id>${prefix}base_footprint</child_frame_id>
        <odom_publisher_frequency>1000.0</odom_publisher_frequency>
        <tf_topic>/tf</tf_topic>

    </plugin>
    </gazebo>
  </xacro:macro>
</robot>
