<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <gazebo>

    <plugin
      filename="gz_ros2_control-system"
      name="gz_ros2_control::GazeboSimROS2ControlPlugin"
    >
      <parameters>$(find mir_control)/config/mir_controllers.yaml</parameters>

      <ros>
        <!-- <namespace>$(arg mir_namespace)</namespace> -->
        <!-- <remapping>/robot_description:=/leporino/robot_description</remapping> -->
        <!-- <remapping>/robot_description:=/robot_description_full</remapping> -->
      </ros>
    </plugin>

  </gazebo>

</robot>
